<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Är det helg än?!</title>
    <meta name="description" content="Besvarar frågan om det är helg än">
    <meta name="author" content="ELEE">

    <meta property="og:title" content="Är det helg än?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ärdethelgän.se">
    <meta property="og:description" content="Besvarar frågan om det är helg än.">

    <link rel="stylesheet" href="/static/css/styles.css?v=1.0">

</head>
<body class="bg day{{.Day}}">

</body>
</html>
